.text-input-container input {
    background-color: var(--secondary-30);
    border: solid 1px var(--text-secondary);
    border-radius: 8px;
    height: 48px;
    color: var(--text-primary);
    padding: 10px;
}

.text-input-container input::placeholder{
    color: var(--text-secondary);
}

.text-input-container input:focus {
    outline: none;
}