.session-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 100%;
}

.session-list-container .header .page-title {
    font-size: var(--app-title);
    font-weight: bold;
    color: var(--text-primary);
}

.session-list-container .header .page-sub-title {
    font-size: var(--h4);
    color: var(--text-secondary);
}

.session-list-container .filter-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-200);
    border-radius: 8px;
    padding: 0 10px
}

.session-list-container .filter-bar .filter-actions {
    display: flex;
    gap: 10px;
}

.session-list-container .session-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    overflow: auto;
}