.user-form-container {
    min-height: calc(100% - 56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-form-container .form-actions {
    display: flex;
    margin-left: auto;
    gap: 8px;
    padding-top: 20px;
}

