.profile-container {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.profile-container .avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid 1px var(--secondary-300);
}

.profile-container .avatar .no-avatar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: var(--h4);
    font-weight: bolder;
    user-select: none;
}

.profile-container .avatar img {
    height: 59px;
    width: 59px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-container .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.profile-container .infos .fullname {
    font-size: var(--h4);
    font-weight: bolder;
}

.profile-container .infos .mail {
    font-size: var(--xx-small);
    color: var(--text-secondary);
}

.profile-container .icon {
    color: var(--text-secondary);
}