.app-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-400);
    color: var(--text-primary);
    font-size: var(--p);
}

.app-container .sidebar-and-content-container {
    height: calc(100% - 80px);
    display: flex;
    position: relative;
}

.app-container .sidebar-and-content-container .content {
    width: 100%;
    overflow: auto;
}

@media screen and (max-width: 675px) {
    .app-container .sidebar-and-content-container {
        height: calc(100vh - 50px);
    }
}