@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import "tailwindcss";

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#DndLiveRegion-1 {
    overflow: visible !important;
    clip: unset !important;
    clip-path: none !important;
}
