.nav-button-container {
    position: relative;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
    border-radius: 50%;
    transition: all 0.3s;
}

.nav-button-container:hover {
    color: var(--text-primary);
    cursor: pointer;
}

.nav-button-container .notifications {
    position: absolute;
    background-color: var(--primary-400);
    color: var(--text-primary);
    border-radius: 50%;
    height: 15px;
    min-width: 15px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: var(--xxx-small);
    top: 2px;
    right: 0;
    user-select: none;
}