.clock-container {
    height: 400px;
    width: 400px;
    background-color: var(--secondary-200);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: solid 1px var(--primary-500);
}

.clock-container .clock-content {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 2px var(--text-primary);
    gap: 10px;
}

.clock-container .clock-content .sessions-count {
    font-size: var(--h4);
    font-weight: bold;
}

.clock-container .clock-content .time {
    font-size: var(--h1);
    font-weight: bold;
}